.photos-container{

}

.skills-container {

}

.bar-container {
  width: 100%;
  background-color: gray;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 10px 0;
}

.label {
  background-color: blue;
  color: #fff;
  width: 70px;
}

.bar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}
