/**/

body {
  font-family: 'Roboto', sans-serif;
}


/**/


/*/// NAVBAR ///*/

.nav-wrapper {
  padding-bottom: 10px;
}
.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
  border: 0;
}
.ui.menu .item:before {
  background: none;
}

.ui.menu {
  background-color: #191919;
  padding: 10px 0;
  border-bottom: 3px solid #43e072
}

.ui.menu .item{
  padding: 13px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  box-shadow: none;
}

.ui.menu .link a:hover {
  color: #ccc;

}

.ui.container.nav-container a.active .item {
  color: #43e072;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu.dropdown-nav {
  display: none;
}


/*/// INTRO ///*/

.intro{
  min-height: 100vh;
}

.intro-text-container {
  display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #191919;
}

.intro-text h1 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: bolder;
  position: relative;
	display: block;
	margin: 0;
	font-size: 7rem;
	line-height: 1;
	transform: translateY(6rem);
	animation: up 500ms linear forwards;
	z-index: 1;
	// text-shadow: 0px 2px 2px rgba(153, 153, 153, 1);

	&::before,
	&::after {
		position: absolute;
		content: '';
		width: 0px;
		height: 3px;
		left: 0;
		background-color: rgba(49, 216, 66, .7);
		z-index: -1;
	}

	&::before {
		top: 1.7rem;
		animation: draw 500ms linear 1s forwards;
	}

	&::after {
		bottom: 0.2rem;
		animation: draw 500ms linear 1s forwards;
	}
}

.intro-wrapper p {
  font-family: 'Libre Caslon Display', serif;
  font-size: 22px;
  letter-spacing: 3px;
  text-align: center;
  margin: 10px 0;
  color: #fff;
}

.intro-text {
  font-size: 0;
	position: relative;
	overflow: hidden;
  padding-bottom: 10px;
}


@keyframes up {
	100% {
		transform: translateY(0);
	}
}

@keyframes draw {
	100% {
		width: 100%;
	}
}

.ny {
  font-weight: bolder;
  color: #31d842;
}

.view-work {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.ui.green.inverted.button.view-work {
  padding: 17px 17px;
}

.fas.fa-angle-down {
  margin-left: 10px;
}

/* /// ABOUT ME /// */

.about-me {
  min-height: 100vh;
  height: auto;
  padding: 170px 0;
}

.page-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
}


.about-me p {
  font-size: 16px;
}

.profile-pic img {
  width: 100%;
}


.bar-container {
  width: 100%;
  background-color: #eee;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 15px 0;
}

.three.wide.column.skill-name{
  padding-right: 0;
}

.label {
  /* background-color: #285943; */
  color: #000;
  width: 100%;
  text-align: right;
}

.react-sweet-progress-line .react-sweet-progress-line-inner.react-sweet-progress-line-inner-status-active{
  background-color: #2bad58!important;
}

.bar {
  width: 10%;
  height: 30px;
  background-color: #3ac569;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: #fff;
}

.about-me-container {
  padding: 30px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.about-me-container p {
  text-align: center;
}

.icon-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  justify-content: center;
}

.icon-container a {
  margin-right: 10px;
}

.icon-container i {
  font-size: 30px;
  color: #1abc40;
}

.icon-container i:hover {
  color: #43e072;
}

.icon-container .ui.green.tiny.basic.button:hover {
  color: #fff!important;
  background-color: #21ba45!important;
}



/*/// PROJECT ///*/

.portfolio {
  padding: 150px 0;
  background: #eee;
  height: 100vh;
}

.project-modal{
  min-height: 850px;
}

.description {
  padding: 30px 20px;
}

.project-img-container {
  background-color: goldenrod;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.project-img-container img {
  width: 100%;
  height: 100%;
  transition: transform .7s
}

.project-img-container img:hover {
  transform: scale(1.1);
}

.image-gallery-thumbnails-wrapper.bottom {
  padding-top: 20px;
}

.image-gallery-play-button {
  display: none;
}

.image-gallery-slide .image-gallery-description {
  font-size: 20px;
  padding: 20px 30px;
}

.demo-video {
  width: 100%;
  height: 481px;
}

.project-title {
  display: inline-block;
}

.project-links {
  display: inline-block;
  margin: 10px;
}

.project-links a {
  padding: 10px 0;
}

.project-links a i:hover {
  color: #43e072;
}

.project-links i {
  font-size: 24px;
}

.project-detail {
  padding: 10px 0 20px 0;
}

.project-detail p {
  margin-bottom: 5px;
}

p:first-child {
  margin-bottom: 15px;
}

.skills-used {
  padding: 10px 0
}

.skill-used{
  background-color: #ddd;
  color: #3f3f3f;
  padding: 5px 10px;
  margin: 20px 5px 10px 0;
}

.skill-used.first {
  padding-left: 0 none;
}

.bold {
  font-weight: bold;
}

/*/// BLOG ///*/

.blog {
  padding: 150px 0;
  background: #fff;
  height: 100vh;
}

/*/// CONTACT ///*/

.contact {
  padding: 200px 0;
  background-color: #eee;
  height: 100vh;
}

.submit-btn-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
