/*/// NAVBAR ///*/

.nav-wrapper {
  padding: 10px 0;
}
.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)>.container>.item:not(.right):not(.borderless):first-child {
  border: 0;
}
.ui.menu .item:before {
  background: none;
}

.nav-container {
  /* border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0; */
}

.ui.menu {
  background-color: #2d2d2d;
  padding: 10px 0;
  border-bottom: 3px solid #43e072
}

.ui.menu .item{
  padding: 13px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  box-shadow: none;
}

.ui.menu .link a:hover {
  color: #ccc;

}

.ui.container.nav-container a.active .item {
  /* font-weight: bold; */
  color: #43e072;
}

.ui.menu:not(.vertical) .right.item, .ui.menu:not(.vertical) .right.menu.dropdown-nav {
  display: none;
}
/*/// INTRO ///*/

.intro{
  min-height: 1080px;

}

.intro-text-container {
  position: absolute;
  width: 600px;
  height: 150px;
  text-align: center;
  top: 40%;
  left: 50%;
  margin-left: -300px;
}

.ui.button.view-work {
  margin: 20px 0;
}

/* /// ABOUT ME /// */

.about-me {
  min-height: 100vh;
  height: auto;
  padding: 170px 0;
}

.page-title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.5rem;
}


.about-me p {
  font-size: 16px;
}

.photo-1 {
  width: 100%;
  height: 350px;
  background-color: pink;
}

.bar-container {
  width: 100%;
  background-color: #ddd;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 15px 0;
}

.label {
  background-color: blue;
  color: #fff;
  width: 100px;
  text-align: center;
  padding-top: 5px;
}

.bar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

.about-me-container {
  padding: 30px 0;
}

.about-me-container p {
  text-align: center;
}

.icon-container {
  width: 140px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/*/// PROJECT ///*/

.portfolio {
  padding: 150px 0;
  background: #eee;
  height: 100vh;
}

.project-modal{
  min-height: 850px;
}

.description {
  padding: 30px 20px;
}

.project-img-container {
  background-color: goldenrod;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.project-img-container img {
  width: 100%;
  height: 100%;
  transition: transform .7s
}

.project-img-container img:hover {
  transform: scale(1.1);
}

/* .image-gallery-slide.center {
  border: 1px solid #ddd;
} */

.image-gallery-thumbnails-wrapper.bottom {
  padding-top: 20px;
}

.image-gallery-play-button {
  display: none;
}

.image-gallery-slide .image-gallery-description {
  font-size: 20px;
  padding: 20px 30px;
}

.demo-video {
  width: 100%;
  height: 481px;
}

.project-title {
  display: inline-block;
}

.project-links {
  display: inline-block;
  margin: 10px;
}

.project-links a {
  padding: 10px 0;
}

.project-links a i:hover {
  color: #43e072;
}

.project-links i {
  font-size: 24px;

}


.project-detail {
  padding: 10px 0 20px 0;
}

.project-detail p {
  margin-bottom: 5px;
}

p:first-child {
  margin-bottom: 15px;
}

.skills-used {
  padding: 10px 0
}

.skill-used{
  background-color: #ddd;
  color: #3f3f3f;
  padding: 5px 10px;
  margin: 20px 5px 10px 0;
}

.skill-used.first {
  padding-left: 0 none;
}

.bold {
  font-weight: bold;
}

/*/// BLOG ///*/

.blog {
  padding: 150px 0;
  background: #fff;
  height: 100vh;
}

/*/// CONTACT ///*/

.contact {
  padding: 200px 0;
  background-color: #eee;
  height: 100vh;
}

.submit-btn-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
